@import '../../../../../codyhouse-framework/main/assets/css/style.scss'; // ⚠️ make sure to import the CodyHouse framework
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700'); // custom font

// -------------------------------------------------

// Responsive Vertical Timeline - by CodyHouse.co

// -------------------------------------------------

:root {
  // colors
  @include defineColorHSL(--cd-color-1, 158, 25%, 22%); // Dark Green (Header)
  @include defineColorHSL(--cd-color-2, 152, 40%, 85%); // Light Green (Background)
  @include defineColorHSL(--cd-color-3, 157, 10%, 40%); // Grey-Green
  @include defineColorHSL(--cd-color-4, 111, 51%, 60%); // Bright Green (Icons)
  @include defineColorHSL(--cd-color-5, 356, 53%, 49%); // Red
  @include defineColorHSL(--cd-color-6, 47, 85%, 61%);  // Yellow

  // header
  --cd-header-height: 200px;

  // font
  --font-primary: 'Droid Serif', serif;
  --font-secondary: 'Open Sans', sans-serif;
}

@supports(--css: variables) {
  :root {
    @include breakpoint(md) {
      --cd-header-height:  300px;
    }
  }
}

.cd-main-header {
  height: var(--cd-header-height);
  background: var(--cd-color-1);
  color: var(--cd-color-2);
  @include fontSmooth;

  h1 {
    font-family: var(--font-secondary);
    color: inherit;
  }
}

.cd-timeline {
  overflow: hidden;
  padding: var(--space-lg) 0;
  color: var(--cd-color-3);
  background-color: var(--cd-color-2);
  font-family: var(--font-primary);

  h2 {
    font-family: var(--font-secondary);
    font-weight: 700;
  }
}

.cd-timeline__container {
  position: relative;
  padding: var(--space-md) 0;

  &::before { // this is the timeline vertical line
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--cd-color-1);
  }

  @include breakpoint(md) {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.cd-timeline__content {
  flex-grow: 1;
  position: relative;
  margin-left: var(--space-md);
  background: var(--color-white);
  border-radius: var(--radius-md);
  padding: var(--space-md);
  box-shadow: 0 3px 0 var(--cd-color-1);

  &::before { // triangle next to content block
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    @include triangle(left, 7px, var(--color-white));
  }

  h2 {
    color: var(--cd-color-1);
  }
}